annotated-types==0.6.0
appdirs==1.4.4
arabic-reshaper==3.0.0
asgiref==3.3.1
asn1crypto==1.5.1
astroid==2.5.3
autopep8==2.0.2
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.4
cryptography==40.0.2
cssselect2==0.7.0
defusedxml==0.7.1
distlib==0.3.1
Django==3.1.7
django-allauth==0.54.0
django-paypal==2.0
filelock==3.0.12
fonttools==4.39.3
html5lib==1.1
idna==3.4
inflect==7.0.0
isort==5.8.0
lazy-object-proxy==1.6.0
lxml==4.9.2
mccabe==0.6.1
netifaces==0.11.0
oauthlib==3.2.2
oscrypto==1.3.0
Pillow==8.2.0
pipenv==2023.2.18
platformdirs==3.1.1
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydyf==0.6.0
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
PyJWT==2.8.0
pylint==2.7.4
pypdf==3.8.1
pyphen==0.14.0
pypng==0.20220715.0
python-bidi==0.4.2
python-nmap==0.7.1
python3-openid==3.2.0
pytz==2021.1
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.13
requests==2.30.0
requests-oauthlib==1.3.1
scapy==2.5.0
six==1.15.0
sqlparse==0.4.1
svglib==1.5.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.9.0
tzlocal==5.0
uritools==4.0.1
urllib3==2.0.2
virtualenv==20.4.3
virtualenv-clone==0.5.7
weasyprint==58.1
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.11
zopfli==0.2.2
