<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit File Form</title>
    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <style>
      html {
        background-color: #f2f2f2 !important;
      }
      body {
        background-color: #f2f2f2 !important;
      }
      .main-card {
        background-color: #fcfcfc !important;
      }
    </style>
  </head>

  <body>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="horizontal" data-navbarbg="skin6" data-header-position="fixed">
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid mt-4">
          <div class="card">
            <div class="card-body main-card">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="card-title fw-semibold mb-4">Edit File Form</h5>
                  {% comment %} <p class="form-label text-primary">*Hover over the fields for more Information</p> {% endcomment %}
                  <div class="card">
                    <div class="card-body">
                      <form action="{% url 'updatefile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">                
                        <div class="mb-3 col-md-6">
                            <label for="amount" class="form-label">Amount*</label>
                            <input type="text" class="form-control" id="amount" name="amount" value="{{ data.amount }}" required />
                            <input type="text" class="form-control" id="userid" name="userid" hidden value="{{ data.id }}" />
                        </div>
                
                        <div class="mb-3 col-md-6">
                            <label for="receiptNumber" class="form-label">Receipt#*</label>
                            <input class="form-control" type="text" id="receiptNumber" name="receiptNumber" value="{{ data.receipt_number }}" required />
                        </div>
                
                        <div class="mb-3 col-md-6">
                            <label for="head" class="form-label">Head*</label>
                            <select id="head" name="head" class="form-select" required>
                                {% for head_option in heads %}
                                    <option class="form-control" value="{{ head_option.id }}" {% if head_option.id == data.head.id %}selected{% endif %}>
                                        {{ head_option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                
                        <div class="mb-3 col-md-6">
                            <label for="subHead" class="form-label">Sub Head*</label>
                            <select id="subHead" name="subHead" class="form-select" required>
                                {% for subhead_option in subheads %}

                                    <option class="form-control" value="{{ subhead_option.id }}" {% if subhead_option.id == data.sub_head.id %}selected{% endif %}>
                                        {{ subhead_option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                              
                        <div class="mb-3 col-md-6">
                            <label for="claimBy" class="form-label">Claim By*</label>
                            <select id="claimBy" name="claimBy" class="form-select" required>
                                {% for claim_option in claims %}
                                    <option class="form-control" value="{{ claim_option.id }}" {% if claim_option.id == data.claim_by.id %}selected{% endif %}>
                                        {{ claim_option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                
                        <div class="mb-3 col-md-6">
                            <label for="chargeBy" class="form-label">Charge To*</label>
                            <select id="chargeBy" name="chargeBy" class="form-select" required>
                                {% for charge_option in charges %}
                                    <option class="form-control" value="{{ charge_option.id }}" {% if charge_option.id == data.charge_by.id %}selected{% endif %}>
                                        {{ charge_option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                
                        <div class="mb-3 col-md-6">
                            <label for="paidBy" class="form-label">Paid By*</label>
                            <select id="paidBy" name="paidBy" class="form-select" required>
                                {% for paid_option in Paid %}
                                    <option class="form-control" value="{{ paid_option.id }}" {% if paid_option.id == data.paid_by.id %}selected{% endif %}>
                                        {{ paid_option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>                       
                
                        <div class="mb-3 col-md-6">
                          <label for="vendors" class="form-label">
                            Vendors*
                            <button type="button" class="add-vendor-button text-primary" onclick="addVendor()" style="background-color: transparent; border: none; padding: 0;">
                              <i class="ti ti-square-plus" style="font-size: 1.1rem;"></i>
                            </button>
                          </label>
                        
                          <select id="vendors" name="vendors" class="form-select" required onchange="convertToInteger(this)">
                            {% for vendor_option in vendors %}
                              <option class="form-control" value= "{{ vendor_option }}" {% if vendor_option.id == data.vendors.id %}selected{% endif %}>
                                  {{ vendor_option }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>                        
                
                        <div class="mb-3 col-md-6">
                          <label for="attachments" class="form-label" style="cursor: pointer;">Attachments</label>
                          <input class="form-control" type="file" id="attachments" name="attachments" />
                        </div>

                        <div id="cashFields" class="mb-3 col-md-6">
                          <label for="cashNumber" class="form-label">{{ data.instrument }} No:*</label>
                          {% if data.instrument == 'cash' %}
                              <input type="text" id="cashNumber" name="cashNumber" class="form-control" value="{{ data.cash_number }}" />
                          {% elif data.instrument == 'cheque' %}
                              <input type="text" id="cashNumber" name="chequeNumber" class="form-control" value="{{ data.cheque_number }}" />
                          {% else %}
                              <input type="text" id="cashNumber" name="onlineNumber" class="form-control" value="{{ data.online_number }}" />
                          {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                          <label for="description" class="form-label">Description</label>
                          <textarea class="form-control" rows="4" id="description" name="description" placeholder="Please enter description">{{ data.description }}</textarea>
                        </div>

                        <div class="mb-3 col-md-6">
                          <label for="comments" class="form-label">Comments</label>
                          <textarea class="form-control" rows="4" id="comments" name="comments" placeholder="Please enter comments">{{ data.comments }}</textarea>
                        </div>
                      </div>                
                      <div class="d-flex justify-content-end">
                        <a href="{% url 'submitfile' %}"><button id="btn" type="button" class="btn btn-outline-primary mt-3 me-2">Back</button></a>
                        <button id="btn" type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function addVendor() {
        var newVendor = prompt('Enter a new vendor:')
      
        if (newVendor) {
          var vendorsDropdown = document.getElementById('vendors')
      
          // Check if the vendor already exists in the dropdown
          var vendorExists = Array.from(vendorsDropdown.options).some(function (option) {
            return option.value.toLowerCase() === newVendor.toLowerCase()
          })
      
          if (!vendorExists) {
            var option = document.createElement('option')
            option.value = newVendor
            option.text = newVendor
            vendorsDropdown.add(option)
          } else {
            alert('Vendor already exists in the dropdown.')
          }
        }
      }


      $(document).ready(function () {
        var selectedHeadId = $('#head').val();
    
        $.ajax({
          url: '{% url "get_subheads" %}',
          data: { head_id: selectedHeadId },
          dataType: 'json',
          success: function (data) {
            // Clear the current sub-head options
            $('#subHead').empty();
    
            // Add the new sub-head options
            for (var i = 0; i < data.length; i++) {
              $('#subHead').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
          },
          error: function (xhr, status, error) {
            console.error('Error fetching sub-heads:', error);
          }
        });
      });

      // Use jQuery to make an AJAX call to fetch sub-heads based on the selected head
      $('#head').on('change', function () {
        var selectedHeadId = $(this).val();
    
        $.ajax({
          url: '{% url "get_subheads" %}',
          data: { head_id: selectedHeadId },
          dataType: 'json',
          success: function (data) {
            // Clear the current sub-head options
            $('#subHead').empty();
    
            // Add the new sub-head options
            for (var i = 0; i < data.length; i++) {
              $('#subHead').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
          },
          error: function (xhr, status, error) {
            console.error('Error fetching sub-heads:', error);
          }
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  </body>
</html>
