<!-- your_template.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Data Table</title>
    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      html {
        background-color: #f2f2f2 !important;
      }
      body {
        background-color: #f2f2f2 !important;
      }
      .main-card {
        background-color: #fcfcfc !important;
      }
      
      .edit-button .datelabel {
        font-size: 1rem;
        text-decoration: none;
      }
      
      .toggle-buttons {
        font-size: 1.6rem;
      }
      
      .edit-button.disabled {
        color: #999 !important; /* or any color that indicates a disabled state */
        cursor: not-allowed;
        pointer-events: none;
        text-decoration: none;
      }
      
      .hiddenDetails {
        display: none;
      }
      
      .my-navbar {
        border-radius: 50px !important;
      }
      
      .search-input {
        max-width: 50%;
        padding: 8px 16px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5a6a85;
        border-radius: 50px;
        background-color: transparent;
        background-clip: padding-box;
        border: var(--bs-border-width) solid #dfe5ef;
      }
      .date-input {
        max-width: 8.9%;
        padding: 8px 16px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5a6a85;
        border-radius: 50px;
        background-color: transparent;
        background-clip: padding-box;
        border: var(--bs-border-width) solid #dfe5ef;
      }
      .hiddenDetails {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      }
      
      .hiddenDetails.show {
        max-height: 500px; /* Set an appropriate max-height value */
      }
      @media (max-width: 600px) {
        .date-input {
          padding: 8px 13px;
          max-width: 19%;
        }
        .search-input {
          max-width: 22%;
        }
      }
    </style>
  </head>

  <body>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="horizontal" data-navbarbg="skin6" data-header-position="fixed">
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid">
          <div class="card my-navbar">
            <div class="card-body d-flex justify-content-between">
              <div class="search-bar">
                <label for="searchInput">Search:</label>
                <input type="text" id="searchInput" class="search-input me-2" oninput="searchTable()" placeholder="" />
                <input type="date" id="dateInput" oninput="searchTabledate()" class="date-input me-2" />
                <input type="date" id="endDate" class="date-input" onchange="searchTabledate()" />
              </div>
              <div>
                <a class="nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle" /></a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="{% url 'signout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table id="accounting-table" class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4 text-center">
                    <tr>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Head</th>
                      <th>Sub Head</th>
                      <th>Receipt Number</th>
                      <th>Voucher</th>
                      <th>Instrument</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in accounting_form|slice:'-10:' %}
                      <tr class="text-center">
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.amount }}</td>
                        <td>{{ entry.head.name }}</td>
                        <td>{{ entry.sub_head }}</td>
                        <td>{{ entry.receipt_number }}</td>
                        <td>{{ entry.voucher }}</td>
                        {% if entry.instrument == 'cash' or entry.instrument == 'Cash' %}
                          <td>{{ entry.instrument }}-{{ entry.cash_number }}</td>
                        {% elif entry.instrument == 'Cheque' or entry.instrument == 'cheque' %}
                          <td>{{ entry.instrument }}-{{ entry.cheque_number }}</td>
                        {% else %}
                          <td>{{ entry.instrument }}-{{ entry.online_number }}</td>
                        {% endif %}
                        <td>
                          <button class="text-primary accordion-toggle" data-target="#details{{ entry.id }}" style="background-color: transparent; border: none; padding: 0;"><i class="ti ti-layout-navbar-expand" style="font-size: 1.1rem;"></i></button>
                          {% if entry.date == today %}
                            <a href="{% url 'editfile' entry.id %}" class="edit-button text-nowrap text-primary"><i class="ti ti-edit" style="font-size: 1.1rem;"></i></a>
                          {% else %}
                            <span class="edit-button disabled text-nowrap text-primary"><i class="ti ti-edit" style="font-size: 1.1rem;"></i></span>
                          {% endif %}
                        </td>
                      </tr>
                      <tr class="hiddenDetails text-left" id="details{{ entry.id }}">
                        <td colspan="5" class="hiddenDetails-content text-left">
                          <div class="row">
                            <div class="col-md-2 mb-1">
                              <strong>Description:</strong>
                            </div>
                            <div class="col-md-9">{{ entry.description }}</div>
                          </div>

                          <div class="row">
                            <div class="col-md-2 mb-1">
                              <strong>Charge By:</strong>
                            </div>
                            <div class="col-md-9">{{ entry.charge_by.name }}</div>
                          </div>

                          <div class="row">
                            <div class="col-md-2 mb-1">
                              <strong>Paid By:</strong>
                            </div>
                            <div class="col-md-9">{{ entry.paid_by.name }}</div>
                          </div>

                          <div class="row">
                            <div class="col-md-2 mb-1">
                              <strong>Claim By:</strong>
                            </div>
                            <div class="col-md-9">{{ entry.claim_by.name }}</div>
                          </div>

                          <div class="row">
                            <div class="col-md-2 mb-1">
                              <strong>Comments:</strong>
                            </div>
                            <div class="col-md-9">{{ entry.comments }}</div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="container-fluid">
                <div class="row d-flex align-items-center justify-content-between">
                  <div class="col-md-6">
                    <div class="d-flex justify-content-left align-items-center">
                      <button onclick="downloadTable()" class="btn btn-outline-primary mt-3" style="font-size: 0.9rem;"><i class="ti ti-download" style="font-size: 1.1rem;"></i> CSV</button>
                      <a href="{% url 'home' %}" class="btn btn-outline-primary mx-3 mt-3 d-block" style="font-size: 0.9rem;"><i class="ti ti-plus" style="font-size: 0.9rem;"></i> Row</a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-end">
                      <div class="text-center mt-3 me-2">
                        {% comment %} <label for="recordsPerPage">Records Per Page:</label> {% endcomment %}
                        <select id="recordsPerPage" class="form-select" onchange="updateTableRows()">
                          <option value="10">5</option>
                          <option value="20">10</option>
                          <option value="50">25</option>
                          <option value="100">50</option>
                          <option value="all">All</option>
                        </select>
                      </div>
                      <div class="text-center mt-3">
                        <button onclick="loadPreviousRows()" id="loadPreviousButton" class="btn btn-primary text-primary mr-2" style="background-color: transparent; border: none; padding: 0;"><i class="ti ti-square-arrow-left toggle-buttons"></i></button>
                        <button onclick="loadNextRows()" id="loadNextButton" class="btn btn-primary text-primary" style="background-color: transparent; border: none; padding: 0;"><i class="ti ti-square-arrow-right toggle-buttons"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table id="accounting-table2" style="display: none;">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Head</th>
          <th>Sub Head</th>
          <th>Description</th>
          <th>Receipt Number</th>
          <th>Charge By</th>
          <th>Voucher</th>
          <th>Paid By</th>
          <th>Claim By</th>
          <th>Instrument</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in accounting_form %}
          <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.amount }}</td>
            <td>{{ entry.head.name }}</td>
            <td>{{ entry.sub_head }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.receipt_number }}</td>
            <td>{{ entry.charge_by.name }}</td>
            <td>{{ entry.voucher }}</td>
            <td>{{ entry.paid_by.name }}</td>
            <td>{{ entry.claim_by.name }}</td>
            {% if entry.instrument == 'cash' or entry.instrument == 'Cash' %}
              <td>{{ entry.instrument }}-{{ entry.cash_number }}</td>
            {% elif entry.instrument == 'Cheque' or entry.instrument == 'cheque' %}
              <td>{{ entry.instrument }}-{{ entry.cheque_number }}</td>
            {% else %}
              <td>{{ entry.instrument }}-{{ entry.online_number }}</td>
            {% endif %}

            <td>{{ entry.comments }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      //browse between 10 rows
      let startIndex = 0
      let rowsPerPage = 10
      const loadPreviousButton = document.getElementById('loadPreviousButton')
      const loadNextButton = document.getElementById('loadNextButton')
      const recordsPerPageSelect = document.getElementById('recordsPerPage')
      
      function loadPreviousRows() {
        startIndex = Math.max(0, startIndex - rowsPerPage) // Decrement the starting index by 10, but not below 0
        updateTableRows()
      }
      
      function loadNextRows() {
        startIndex += rowsPerPage // Increment the starting index by 10
        updateTableRows()
      }
      
      function updateTableRows() {
        rowsPerPage = recordsPerPageSelect.value === 'all' ? Number.MAX_SAFE_INTEGER : parseInt(recordsPerPageSelect.value, 10)
        const rows = document.querySelectorAll('#accounting-table tbody tr')
        const totalRows = rows.length
      
        rows.forEach((row, index) => {
          if (index >= startIndex && index < startIndex + rowsPerPage) {
            row.style.display = '' // Display rows within the current range
          } else {
            row.style.display = 'none' // Hide rows outside the current range
          }
        })
      
        // Disable the "Load Next 10 Rows" button when reaching the end
        loadNextButton.disabled = startIndex + rowsPerPage >= totalRows
      
        // Disable the "Load Previous 10 Rows" button when reaching the beginning
        loadPreviousButton.disabled = startIndex === 0
      }
      
      document.addEventListener('DOMContentLoaded', function () {
        updateTableRows() // Initial update to display the latest 10 rows
      })
      
      //to hide and show the hiddenRow
      $(document).ready(function () {
        $('.accordion-toggle').click(function () {
          // Get the target ID from the clicked element's data-target attribute
          var targetId = $(this).data('target')
      
          // Toggle the collapse state of the target element
          $(targetId).slideToggle(00)
        })
      })
      
      function searchTable() {
        var input, filter, table, tr, td, i, txtValue
        input = document.getElementById('searchInput')
        filter = input.value.toUpperCase()
        table = document.getElementById('accounting-table')
        tr = table.getElementsByTagName('tr')
      
        for (i = 0; i < tr.length; i++) {
          var dateTd = tr[i].getElementsByTagName('td')[0]
          var amountTd = tr[i].getElementsByTagName('td')[1] // Assuming Index 1 corresponds to the Amount column
          var headTd = tr[i].getElementsByTagName('td')[2] // Assuming Index 2 corresponds to the Head column
          var subHeadTd = tr[i].getElementsByTagName('td')[3] // Assuming Index 3 corresponds to the Sub Head column
          var receiptTd = tr[i].getElementsByTagName('td')[4] // Assuming Index 4 corresponds to the Receipt Number column
          var voucherTd = tr[i].getElementsByTagName('td')[5] // Assuming Index 5 corresponds to the Voucher column
          var instrumentTd = tr[i].getElementsByTagName('td')[6] // Assuming Index 6 corresponds to the Instrument column
      
          if (filter === '') {
            // If the search input is empty, display all rows
            tr[i].style.display = ''
          } else {
            if (dateTd && amountTd && headTd && subHeadTd && receiptTd && voucherTd && instrumentTd) {
              var dateValue = dateTd.textContent || dateTd.innerText
              var amountValue = amountTd.textContent || amountTd.innerText
              var headValue = headTd.textContent || headTd.innerText
              var subHeadValue = subHeadTd.textContent || subHeadTd.innerText
              var receiptValue = receiptTd.textContent || receiptTd.innerText
              var voucherValue = voucherTd.textContent || voucherTd.innerText
              var instrumentValue = instrumentTd.textContent || instrumentTd.innerText
      
              // Check if any of the columns includes the search filter
              if (dateValue.toUpperCase().includes(filter) || receiptValue.toUpperCase().includes(filter) || voucherValue.toUpperCase().includes(filter) || instrumentValue.toUpperCase().includes(filter)) {
                tr[i].style.display = ''
              } else {
                tr[i].style.display = 'none'
              }
            }
          }
        }
      }
      
      function searchTabledate() {
        var startDateInput = document.getElementById('dateInput')
        var endDateInput = document.getElementById('endDate')
        var startFilter = new Date(startDateInput.value)
        var endFilter = new Date(endDateInput.valueAsDate.getTime() + 86400000) // Add 24 hours to include the entire selected end date
      
        var table = document.getElementById('accounting-table')
        var tr = table.getElementsByTagName('tr')
      
        for (var i = 0; i < tr.length; i++) {
          var dateTd = tr[i].getElementsByTagName('td')[0]
      
          if (dateTd) {
            var dateValue = new Date(dateTd.textContent.trim())
      
            // Check if the date is within the selected range
            if ((isNaN(startFilter) || dateValue >= startFilter) && (isNaN(endFilter) || dateValue <= endFilter)) {
              tr[i].style.display = ''
            } else {
              tr[i].style.display = 'none'
            }
          }
        }
      }
      
      function downloadTable() {
        const table = document.getElementById('accounting-table2')
        const rows = table.querySelectorAll('tr')
        let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' // Add BOM for Excel compatibility
      
        rows.forEach((row) => {
          const cells = row.querySelectorAll('td, th')
          const rowData = Array.from(cells).map((cell) => {
            let content = cell.textContent.trim()
      
            // Wrap the content in double quotes if it contains a comma
            if (content.includes(',')) {
              content = `"${content}"`
            }
      
            return content
          })
      
          csvContent += rowData.join(',') + '\n'
        })
      
        const encodedUri = encodeURI(csvContent)
        const link = document.createElement('a')
        link.setAttribute('href', encodedUri)
        link.setAttribute('download', 'accounting_entries.csv')
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
      }
      
      function updateSearchInputWithDate() {
        var startDateInput = document.getElementById('dateInput')
        var endDateInput = document.getElementById('endDate')
      
        var startDate = new Date(startDateInput.value)
        startDate.setUTCHours(0, 0, 0, 0)
      
        // Set the min attribute of the end date input to the selected start date
        endDateInput.endD
        min = startDate.toISOString().split('T')[0]
      
        // Trigger the searchTable function to update the table based on the new date range
      
        searchTable()
      }
      
      function updateEndDate() {
        // Get the selected start date from the input
        var startDateInput = document.getElementById('dateInput')
        var startDate = new Date(startDateInput.value)
      
        // Set the min attribute of the end date input to the selected start date
        document.getElementById('endDate').min = startDate.toISOString().split('T')[0]
      
        // Trigger the searchTable function to update the table based on the new date range
        searchTable()
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  </body>
</html>
