<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Daily Summary</title>
    {% load static %}
    {% load humanize %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      html {
        background-color: #f2f2f2 !important;
      }
      
      body {
        background-color: #f2f2f2 !important;
      }
      
      .main-card {
        background-color: #fcfcfc !important;
      }
      @media print {
        .container-fluid {
          page-break-before: always;
          margin-top: 50px; /* Adjust this value to set the desired margin */
        }
      }
    </style>
  </head>

  <body>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="horizontal" data-navbarbg="skin6" data-header-position="fixed">
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid mt-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-left">
                  {% if logo == 'showboth' %}
                    <div class="d-flex align-items-center justify-content-between col-md-7">
                      <div>
                        <img src="{% static 'images/logos/logo2.png' %}" alt="Logo" class="me-3" style="max-height: 60px;" />
                        <img src="{% static 'images/logos/btfavicon1.png' %}" class="me-2" alt="Logo" style="max-height: 65px;" />
                      </div>
                      <div>
                        <h3 class="card-title fw-semibold text-center mt-3" style="word-spacing: 2px;">Day's Summary</h3>
                      </div>
                    </div>
                  {% elif logo == 'showxabta' %}
                    <div class="d-flex align-items-center justify-content-between col-md-7">
                      <div>
                        <img src="{% static 'images/logos/logo2.png' %}" alt="Logo" style="max-height: 65px;" />
                      </div>
                      <div>
                        <h3 class="card-title fw-semibold text-center mt-3" style="word-spacing: 2px;">Day's Summary</h3>
                      </div>
                    </div>
                  {% elif logo == 'showbt' %}
                    <div class="d-flex align-items-center justify-content-between col-md-7">
                      <div>
                        <img src="{% static 'images/logos/btfavicon1.png' %}" alt="Logo" style="max-height: 60px;" />
                      </div>
                      <div>
                        <h3 class="card-title fw-semibold text-center mt-3" style="word-spacing: 2px;">Day's Summary</h3>
                      </div>
                    </div>
                  {% else %}
                    <div class="d-flex align-items-center justify-content-center col-md-12">
                      <div>
                        <h3 class="card-title fw-semibold text-center mt-3" style="word-spacing: 2px;">Day's Summary</h3>
                      </div>
                    </div>
                  {% endif %}
                  <hr class="mb-0" style="height: 1px;" />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table text-nowrap mb-0">
                      <tbody>
                        <tr>
                          <td>Date</td>
                          <td>{{ today }}</td>
                        </tr>
                        <tr>
                          <td>Disbursement</td>
                          <td>
                            {% if cash %}
                              cash: ({{ cash }}),
                            {% endif %}
                            {% if cheque %}
                              cheque: ({{ cheque }}),
                            {% endif %}
                            {% if online %}
                              online: ({{ online }}),
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>Item Purchased</td>
                          <td>
                            {% for i in todayentry %}
                              {{ i.head.name }},
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <td>Reference#</td>
                          <td id="formattedDate"></td>
                        </tr>
                        <tr>
                          <td>Net Amount</td>
                          <td style="word-spacing: 2px;">{{ amount|floatformat:2|intcomma }} ( {{ amount_in_words }} )</td>
                        </tr>
                        <tr>
                          <td>Comments</td>
                          <td>
                            <textarea class="form-control" name="" id="" style="min-width: 60%; min-height: 10%; background-color: #fff;"></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td>Signature of Cashier</td>
                          <td>
                            <div style="border-bottom: 1px solid grey; width: 200px; padding-top: 21px; margin-bottom: -5px;"></div>
                          </td>
                        </tr>
                        <tr>
                          <td>Signature of Approver</td>
                          <td>
                            <div style="border-bottom: 1px solid grey; width: 200px; padding-top: 21px;"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="card">
            <div class="card-body pt-2">
              <div class="table-responsive">
                <table id="accounting-table" class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4 text-center">
                    <tr>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Head</th>
                      <th>Sub Head</th>
                      <th>Receipt#</th>
                      <th>Voucher</th>
                      <th>Instrument</th>
                      <th>Charge To</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in todayentry|slice:':' %}
                      <tr class="text-center">
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.amount|floatformat:2|intcomma }}</td>
                        <td>{{ entry.head.name }}</td>
                        <td>{{ entry.sub_head }}</td>
                        <td>{{ entry.receipt_number }}</td>
                        <td>{{ entry.voucher }}</td>
                        {% if entry.instrument == 'cash' or entry.instrument == 'Cash' %}
                          <td>{{ entry.instrument }}-{{ entry.cash_number }}</td>
                        {% elif entry.instrument == 'Cheque' or entry.instrument == 'cheque' %}
                          <td>{{ entry.instrument }}-{{ entry.cheque_number }}</td>
                        {% else %}
                          <td>{{ entry.instrument }}-{{ entry.online_number }}</td>
                        {% endif %}
                        <td>{{ entry.charge_by.name }}</td>
                      </tr>
                    {% endfor %}
                    <tr class="text-center">
                      <td>Net Amount</td>
                      <td>{{ amount|floatformat:2|intcomma }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Get the current date
      var today = new Date()
      
      // Format the date as "YYYYMONDD"
      var formattedDate = today.getFullYear() + today.toLocaleString('default', { month: 'short' }).toUpperCase() + ('0' + today.getDate()).slice(-2)
      
      // Display the formatted date in the specified HTML element
      document.getElementById('formattedDate').innerText = formattedDate
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  </body>
</html>
